* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ef9157;
}

.container {
    max-width: 500px;
    background-color: #8f1414;
    padding: 10px;
    margin: 100px auto;
    color: #ffebeb;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.titulo {
    font-size: 24px;
    margin: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    justify-content:center;
}

input {
    width: 60px;
    height: 34px;
}

button {
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #d70d06;
    color: #ffebeb;
}

#resultado {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}